<% @filter_listings.each do |listing| %>
  <ul>
    <li>
    <a href="http://localhost:9292/<%= listing.id %>">
     <%= listing.name %>, <%= listing.description %>, <%= listing.price %>, <%= listing.available_from %>, <%= listing.available_to %>, <%= listing.location %> </a>
     </li>
    
  </ul>
<% end %>
