<% if @logged_in %>
  <div style="float: right;">
    <form action='/sessions' method="post">
      <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Logout"/>
    </form>
  </div>

<% else %>
  <div style="float: right;">
    <form action='/users/new' method='get'>
        <input type="submit" value="Sign Up"/>
    </form>

    <form action='/sessions/new' method='get'>
        <input type="submit" value="Login"/>
    </form>
  </div>
<% end %>

<form action='/listings' method='get'>
    <input type="submit" value="View Listings"/>
</form>

<form action='/listings/new' method="get">
  <input type="submit" value="Add new listing">
</form>

<% @filter_listings.each do |listing| %>
  <ul>
    <li class="listing"> <%= listing.name %>, <%= listing.description %>, <%= listing.price %>, <%= listing.available_from %>, <%= listing.available_to %>, <%= listing.location %> </li>

  </ul>
<% end %>
