<% @filter_listings.each do |listing| %>
  <ul>
    <li> <%= listing.name %>, <%= listing.description %>, <%= listing.price %>, <%= listing.available_from %>, <%= listing.available_to %>, <%= listing.location %> </li>
    
  </ul>
<% end %>