<% if @logged_in %>
  <div style="float: right;">
    <form action='/sessions' method="post">
      <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Logout"/>
    </form>
  </div>

<% else %>
  <div style="float: right;">
    <form action='/users/new' method='get'>
        <input type="submit" value="Sign Up"/>
    </form>

    <form action='/sessions/new' method='get'>
        <input type="submit" value="Login"/>
    </form>
  </div>
<% end %>

<form action='/listings/new' method="get">
  <input type="submit" value="Add new listing">
</form>

<form action='/listings/filter' method="post">
  <input type="date" name="filter_from">
  <input type="date" name="filter_to">
  <input type="submit" value="Filter">
</form>

<% flash.keys.each do |type| %>
  <div data-alert class="flash <%= type %> alert-box radius">
    <%= flash[type] %>
    <a href="#" class="close">&times;</a>
  </div>
<% end %>



<% @listings.each do |listing| %>
  <ul>
    <li class="lisiting">
    <a href="<%= listing.id %>">
     <%= listing.name %>,
     <%= listing.description %>, <%= listing.price %>, <%= listing.available_from %>, <%= listing.available_to %>, <%= listing.location %> </a>
     </li>

  </ul>
<% end %>
