<form action='/listings/filter' method="post">
  <input type="date" name="filter_from">
  <input type="date" name="filter_to">
  <input type="submit" value="Filter">
</form>

<% @listings.each do |listing| %>
  <ul>
    <li>
    <a href="<%= listing.id %>">
     <%= listing.name %>, 
     <%= listing.description %>, <%= listing.price %>, <%= listing.available_from %>, <%= listing.available_to %>, <%= listing.location %> </a>
     </li>

  </ul>
<% end %>
